.block-lg-equipo {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

p{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: flex-start;
}
.rights{
    text-align: center !important;
}
.h4equipo{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}